<div class="container-fluid">
  <div class="row">
    <!-- player -->
    <div class="col-12 col-md-12 col-lg-12 px-0">
      <div class="card1" style="position: sticky; top: 20px;">
        <div class="card-body p-0">
          <video id="videoPlayer" autoplay controls muted playsinline vjs-fluid vjs-16-9></video>
        </div>
        <input type="hidden" id="uuid" value="{{ .uuid }}" />
        <input type="hidden" id="channel" value="{{ .channel }}" />
      </div>
    </div>
  </div>
</div>
</div>
